body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .page-header {
    background-color: var(--bgcolor);
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
  }

  header {
    display: flex;
    justify-content: center; /* Centraliza o nav-bar */
    padding: 1rem 0;
  }

  .button-container {
    display: flex; /* Flexbox para alinhar botões em uma linha */
    gap: 1rem; /* Espaçamento entre os botões */
  }

  button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #00a2ff;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

.negrito{
    font-weight: bold;
    color:#00a2ff;
}
/*
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*/